.App {
  text-align: center;
}
#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0275d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
label {
  display: block;
  margin-top: 10px;
}

.card-container .card {
  max-width: 360px !important;
  padding: 40px 40px;
}

.card {
  background-color: white;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.container {
  justify-content: center;
}
.nav-links {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #282c34;
}
.nav-links li {
  color: white;
  text-decoration: none;
}
.categories {
  list-style: none;
  color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.categories li {
  margin: 1rem;
  justify-content: center;
}
.categories-container {
  width: 100%;
  justify-content: center;
}
.coverimage {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}
.containercustom {
  width: 90%;
  height: 90%;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.containercustomrow {
  padding: 0;
  font-size: x-large;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.containerbtngroup {
  padding: 1rem;
  margin: auto;
  padding-bottom: 5%;
}
.title {
  margin: 1rem;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #282c34;
}
.secondtitle {
  color: #282c34;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.sectiontitle {
  padding: 1.5rem;
  font-size: 35px;
  color: rgb(17, 163, 140);
  margin-bottom: 0;
  text-transform: capitalize;
  border: 5px solid rgb(143, 226, 205);
}
.sideimage {
  text-align: center;
  padding: 0.5rem;
}
.sideimage img {
  margin-bottom: 1rem;
  width: 50%;
  height: auto;
  margin-top: 1rem;
}
.sizebtngroup {
  padding: 3%;
  margin: auto;
}
.btns {
  border: 3px solid #8fe2cd;
  background-color: white;
  color: #282c34;
  padding: 14px 28px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 0;
  display: inline-block;
  text-transform: capitalize;
}
.right {
  border-left: 0;
}

.cadre {
  padding: 0;
  border: 10px solid #8fe2cd;
  border-top: none;
  border-radius: 5px;
  height: fit-content;
}
.colored {
  background-color: rgb(143, 226, 205);
  border-bottom: 5px solid rgb(143, 226, 205);
}
.btns:hover {
  border: 3px solid rgb(17, 163, 140);
  color: #282c34;
  font-weight: 500;
}
.middle {
  border: 0;
  text-align: center;
}
.s {
  border-right: none;
}
.m {
  border-right: none;
}
.backbtn {
  background-color: #0275d8;
  color: white;
  font-size: 25px;
  font-weight: 500;
  border-radius: 5px;
  text-transform: capitalize;
  margin: 3rem;
  padding: 5px 15px;
}
.backbtn:hover {
  background-color: white;
  color: #282c34;
  border: 5px solid #0275d8;
}
.size {
  background-color: rgb(143, 226, 205);
  width: auto;
}
.fixing {
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 0px;
}
.btn-size {
  background-color: white;
}
.btn-confirm:hover {
  border: 3px solid rgb(17, 163, 140);
}
@media (max-width: 1390px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .containersize {
    padding-bottom: 45px;
    padding-top: 15px;
  }
}
@media (max-width: 730px) {
  .m {
    border-right: 3px solid rgb(17, 163, 140);
  }
  .containersize {
    justify-content: center;
  }
}
@media (max-width: 370px) {
  .right {
    border-left: 3px solid rgb(17, 163, 140);
  }
  .left {
    width: 56%;
    border-bottom: none;
  }
}
.part {
  padding: 0;
  padding-bottom: 3%;
  margin-right: 4px;
}
.wristcoverbtn {
  padding-left: 45px;
  padding-right: 49px;
  margin-left: 3px;
  border-right: none;
}
.handcoverbtn {
  padding-left: 55px;
  padding-right: 52px;
}
.leftarmbtn {
  border-right: none;
}
.rightarm {
  border-bottom: none;
}
.btnpart:hover {
  border: 3px solid rgb(17, 163, 140);
}
.scrollmenu {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 96.2%;
  margin-left: 15px;
  border-top: 10px solid #8fe2cd;
}
.scrollmenu .listgroupitem {
  background-color: rgb(247, 247, 247);
  border-radius: 2%;
  border: 2px solid rgb(247, 247, 247);
}
.scrollmenu .listgroupitem:hover {
  transform: scale(1.2);
  cursor: pointer;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #282c34 #8fe2cd;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #8fe2cd;
}
*::-webkit-scrollbar-thumb {
  background-color: #282c34;
  border-radius: 20px;
  border: 3px solid #8fe2cd;
}
.listgroupitem img {
  width: 150px;
  height: 150px;
}
.active {
  border: 3px solid rgb(17, 163, 140);
}
.imgspectrum {
  padding-top: 7rem;
}
.card-body {
  padding: 0;
  padding-top: 1.25rem;
}
.containermt-3 {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.submit-btn {
  margin-left: 35%;
  margin-top: 2rem;
}
.form-styling {
  text-transform: capitalize;
  font-size: large;
}
.modalclose {
  float: right;
}
.modallogin {
  float: right;
}
.modalsignup {
  float: right;
  margin-right: 1rem;
}

.modaldesc {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: large;
  font-weight: 400;
}
.modalconfirmingorder {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #007bff;
  background: rgba(234, 238, 238, 0.924);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 50%;
  height: initial;
  margin: auto;
}
.order-infos {
  margin: auto;
  font-size: xx-large;
  color: black;
  margin-left: 1.5rem;
}
.itemImage img {
  width: inherit;
  margin: 1rem;
}
.greyColor {
  background-color: #f7f7f7;
  margin-top: 0.5rem;
}
.cartHeader {
  color: #282c34;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.cartItems {
  text-align: center;
  margin: auto;
  color: #282c34;
  font-size: 1rem;
  font-weight: 600;
}
.cartItems div {
  border: 2px solid #61dafb;
  border-radius: 15%;
  box-sizing: border-box;
  margin-right: 2rem;
  margin-left: 2rem;
}
.cartFooter {
  color: #282c34;
  font-size: 1rem;
  font-weight: 600;
}
.cartFooter .cartTotal {
  padding-left: 2rem;
}
.cartFooter .cartTotalValue {
  float: right;
  padding: inherit;
}
.cartBtns {
  padding: 1rem;
  margin-left: 1rem;
}
.cartCheckoutBtn {
  float: right;
}
.greyColor {
  display: flex;
  flex-wrap: wrap;
}
#side-menu {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 3.5rem;
  left: 0;
  background-color: #007bff;
  overflow-x: hidden;
  padding-top: 20px;
}
.split {
  height: 155%;
  width: 15%;
  position: absolute;
  z-index: 1;
  top: 3.5rem;
  overflow-x: hidden;
  background-color: #007bff;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to top, #b4cee9, #007bff, #086cd8);
}
.left {
  left: 0;
  /*background-color: #111;*/
}
.right-side {
  height: 100%;
  width: 85%;
  position: absolute;
  z-index: 1;
  margin-top: 2rem;
  left: 10rem;
  padding-left: 4rem;
}
.sidebar-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: large;
  cursor: pointer;
}
.sidebar-bars {
  float: right;
  font-size: 1.5em;
  margin-right: 10px;
  margin-bottom: 10px;
}
.selected {
  background-color: lavender;
  color: #007bff;
}
.employees-list {
  width: 70%;
}
.table-head {
  text-align: center;
  padding: 1rem;
  width: 10%;
}
.edit-modal {
  background-color: #007bff;
}
.card-img {
  width: 30%;
  margin: auto;
  margin-left: 3rem;
}
#card-body {
  text-align: left;
  margin-left: 2rem;
  padding: 1rem;
}
#card-text {
  font-size: large;
}
.form-roles {
  display: inline;
}
.card-body-txt {
  font-size: x-large;
  color: #007bff;
  font-weight: 700;
}
.card {
  margin-top: 0;
  width: 30%;
}
.btn-save-form {
  margin-top: 1rem;
  margin-left: 1rem;
}
.card-title {
  font-size: xx-large;
  color: #282c34;
}
.form-role {
  margin-left: 10px;
}
.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.card-body {
  padding: 0;
}
.th-add {
  border: none;
}
#table-col {
  padding: 0;
}
#col-plus {
  max-width: 3%;
  font-size: x-large;
  color: rgb(22, 190, 22);
  font-weight: 700;
}
#card-col {
  margin-left: 0;
  max-width: 0;
}
.hide {
  display: none;
}
/*Employees signup*/
#formcheck-api-regular,
#formcheck-label {
  margin-bottom: 1rem;
  margin-left: 0.4rem;
}
.formcheck-margin-fix {
  margin-bottom: 1rem;
}
#signup-employee-container {
  margin-top: 2rem;
}
.formcheck-fixbtn {
  float: right;
}

.jumbotron-signup {
  text-align: center;
  background-color: #007bff7c;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.678);
  font-size: 32px;
  font-weight: 600;
}
.form-col-signup {
  color: white;
  margin-bottom: 2rem;
  background-image: linear-gradient(to top, #2e46cc, #1d77d6, #007bff, #007bff);
}
.form-col-signup {
  -webkit-box-shadow: 0px 3px 7px 8px rgba(230, 230, 230, 0.63);
  -moz-box-shadow: 0px 3px 7px 8px rgba(230, 230, 230, 0.63);
  box-shadow: 0px 3px 7px 8px rgba(230, 230, 230, 0.63);
  padding: 1rem;
}
#deleteEmploye-card {
  font-size: large;
  font-weight: 600;
  margin: 1rem;
}
.btns-deleteEmployee-card {
  margin-right: 0.5rem;
  float: right;
}
#avatar {
  padding: 0;
  width: 90%;
}
.profileJumbotron {
  padding: 0;
}
#profileImage {
  width: 40%;
  align-self: center;
  padding: 0;
  margin-left: 11rem;
  /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}
#profileUsername,
#profileRole,
#profileEmail,
#profileAddress {
  text-align: center;
  padding: 0.5rem;
  color: white;
  font-size: 40px;
  font-family: monospace;
  font-weight: 600;
  margin: 0;
}
#profileCard,
#cardPassword {
  background-image: linear-gradient(to top, #2e46cc, #1d77d6, #007bff, #007bff);
}
#profileRole,
#profileEmail,
#profileAddress,
#profilePhone {
  font-size: 22px;
  font-weight: 400;
  padding: 0;
  color: gainsboro;
  text-align: center;
}
#profileEmail,
#profileAddress,
#profilePhone {
  font-size: 25px;
}
#profileBtn {
  font-size: large;
  align-self: center;
  margin-left: 13rem;
  margin-top: 1rem;
}
#profilePhone {
  margin-top: 0.5rem;
}
.mb-2 {
  width: fit-content;
  margin: auto;
}
#imageEdit {
  position: absolute;
  color: gainsboro;
  font-size: 25px;
  margin-left: 0.5rem;
}
.editIcon {
  cursor: pointer;
}
#cardPassword {
  width: 30%;
  color: white;
}
#login-card {
  background-image: linear-gradient(to top, #2e46cc, #1d77d6, #007bff, #007bff);
  color: white;
}
/*Product manager component*/
.products-manager {
  display: flex;
  flex-wrap: wrap;
}
#product-img-card {
  /*transform: rotate(90deg);*/
  width: 110%;
  align-self: center;
}
.product-manager-card {
  background-image: linear-gradient(to top, #1d77d6, #007bff, #007bff, #2e91fb);
  color: white;
}
.product-details {
  margin-left: 1rem;
  font-weight: 500;
}
#product-add-btn,
#product-add-btn-2 {
  color: #25a042;
  font-size: 35px;
  float: right;
  margin-bottom: 0.5rem;
}
#product-img-card-edit {
  width: 70%;
  align-self: center;
}
.input-groupe-product {
  width: 80%;
  margin: auto;
}
.addon3-edit,
#validationFormik107 {
  color: #282c34;
  font-weight: 500;
}
.btn-submit-product {
  float: right;
}
#product-title {
  font-size: xxx-large;
  margin-left: 1rem;
  text-align: center;
}
.product-add-pic,
.product-add-category {
  margin-left: 9.5%;
}
.border-rad-none {
  border-radius: 0;
}
.margin-bottom {
  margin-bottom: 0.6rem;
}
.custom-select {
  height: 100%;
}
.float-right-btn {
  float: right;
}
#product-add-btn-2 {
  font-size: 25px;
  margin-left: 1rem;
}
